//COLOR VARIABLES
$darkShade: #000;
$greyShade: #808080;
$lightShade: #FFF;
$accentShade: #1DA1F2;

//FONT VARIABLES
$titleFont: 'Cormorant Garamond', serif;
$mainFont: 'Frank Ruhl Libre', serif;

//MIXINS


//GLOBAL STYLINGS
html {
    font-size: 62.5%;
}

.App {
    position: relative;
    background: $accentShade;
    font-family: $mainFont;
}

.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 2rem;
}

.hide {
    display: none;
}

h1, h2, h3 {
    margin: 0;
    font-family: $titleFont;
    font-size: 3.5rem;
    text-transform: capitalize;
}

 h2, h3 {
     font-size: 2.5rem;
 }

 p {
     margin: 0;
 }

img {
    display: block;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
}












