html {
    font-size: 62.5%;
}

.wrapper {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    height: 10vh;
    align-self: center;
}

form {
    text-align: center;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    textarea {
        width: 70%;
        min-width: 20rem;
        min-height: 20vh;
        overflow: wrap;
        resize: none;
    }

    input {
        width: 35%;
        min-width: 20rem;
        min-height: 5vh;
    }
}

.results {
    display: grid;
    grid-template-columns:2rem 1fr 1fr 2rem;
    grid-gap: 1rem;

    h2 {
        grid-column: 1 / -1;
        width: 100%;
        overflow: wrap;
        align-self: center;
    }

    div {
        width: 100%;
        text-align: center;

        div {
            width: 100%;
        }
    }
}

.userInput {
    text-align: center;
}


