/* SETUP STYLING STARTS*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

/* SETUP STYLING ENDS */
html {
  font-size: 62.5%; }

.App {
  position: relative; }

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 2rem; }

h1 {
  text-align: center;
  align-self: center;
  margin: 0; }

.hide {
  display: none; }

form {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  form textarea {
    text-align: center;
    width: 70%;
    min-width: 20rem;
    padding: 10% 7% 5% 7%;
    overflow: wrap;
    resize: none;
    margin: 5rem 0;
    border: none;
    background: navajowhite;
    border-radius: 50%; }
  form input[type="submit"] {
    width: 35%;
    min-width: 20rem;
    min-height: 5vh; }

.results {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 100%; }
  .results h2 {
    min-width: 61%;
    overflow: wrap;
    margin: 10% auto; }
  .results div {
    cursor: pointer; }

.userInput {
  text-align: center; }

.Sentiment {
  margin-right: 1rem;
  width: calc(50% - 1rem);
  background: navajowhite;
  margin-bottom: 2rem;
  padding: 0 1rem;
  min-height: 40%; }
  .Sentiment .sentimentList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.Emotion {
  margin-left: 1rem;
  width: calc(50% - 1rem);
  background: rebeccapurple;
  margin-bottom: 2rem;
  padding: 0 1rem;
  min-height: 40%; }
  .Emotion .emotionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; }
    .Emotion .emotionListItem {
      width: 33%; }

.Abuse div {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 200px; }

.Mention div {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 200px; }

.abuseAlert {
  cursor: pointer;
  filter: hue-rotate(90deg);
  transform: scale(0.75);
  animation: alert 1s linear infinite; }
  .abuseAlert:hover {
    filter: hue-rotate(90deg) drop-shadow(0rem 0rem 2rem red); }

.mentionAlert {
  cursor: pointer;
  transform: scale(0.75);
  animation: alert 1s linear infinite; }
  .mentionAlert:hover {
    filter: drop-shadow(0rem 0rem 2rem #7bc2da); }

@keyframes alert {
  0% {
    transform: scale(0.75); }
  50% {
    transform: scale(0.65); }
  100% {
    transform: scale(0.75); } }
